header {
    background: black;
    color:orange;
    font-size: 15px;
    padding: 10px;
}
nav {
    display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li {
    list-style-type: none;
    display:inline-block;
    padding: 10px 20px;

}
nav ul li a {
    color: white;
    font-weight: bold;
}
h1 {
    color:orange;
    margin: 0;
    padding: 40px;
}  
.header {
height: 50vh;
width: 100%;
background-image: linear-gradient(rgba(0, 0, 1, 0.6),rgba(0, 0, 1, 0.6)),url(../images/graveyard.jpg);
background-size:cover;
background-position: center;
}
title {
    color:aquamarine;
}
body {
    background: white;
    color: black;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
section {
    background: gray;
    margin: 0;
    padding: 20px;
}
div {
    background: rgb(230, 61, 61);
    display: inline-block;
    width: 100px;
    padding-left: 20px;

}
#page-container{
    position: relative;
    min-height: 100vh;
}
#content-wrap {
padding: 2.5rem;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}